<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#search-accordion" href="#date-section">
                <span>Date</span><i class="icon-plus"></i></a>
    </div>
    <div id="date-section" class="accordion-body collapse">
        <div class="accordion-inner">
            <label for="start-date">Start Date </label><input type="date" id="start-date" min="1450-01-01" max="1600-01-01" />
            <label for="end-date">End Date </label><input type="date" id="end-date" min="1450-01-01" max="1600-01-01" />
        </div>
    </div>
</div>