<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#search-accordion" href="#form-section">
            <span>Musical and Literary Form</span><i class="icon-plus"></i>
        </a>
    </div>
    <div id="form-section" class="accordion-body collapse">
        <div class="accordion-inner">
            <ul class="unstyled">
            {% for repeat in repeat_kinds %}
                <li>
                    <label class="checkbox" for="form{{ forloop.counter }}">
                        <input type="checkbox" id="form{{ forloop.counter }}" name="lf" value="{{ repeat }}" />
                {{ repeat }}
                    </label>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
